* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #313131;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fc4c02;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  color: #313131;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  color: #fc4c02;
  letter-spacing: 1px;
  line-height: 1.4;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  color: #313131;
  letter-spacing: 1px;
  line-height: 1.4;
}

p {
  line-height: 1.4;
  text-align: justify;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 1vh;
}

.slyder {
  height: 95vh;
  width: 100vw;
  padding: 13vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__top {
  height: 20vh;
}

.slyder__top h6 {
  font-size: 36px;
  margin-bottom: 1vh;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.slyder__top span {
  color: #fc4c02;
}

.slyder__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
  width: 100vw;
  background: #fff5e9;
}

.slyder__middle p {
  font-size: 18px;
  text-align: left;
}

.slyder__left {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 1vw 3vh 5vw;
  font-size: 18px;
}

.slyder__left__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__left__icon div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.slyder__left__icon div img {
  height: 50%;
}

.slyder__left__icon p {
  max-width: 19vw;
  margin: 0;
}

.slyder__center {
  width: 40vw;
}

.slyder__center img {
  width: 100%;
}

.slyder__right {
  width: 30vw;
  padding: 5vh;
}

.icon-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-list div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.icon-list div img {
  height: 50%;
}

.icon-list p {
  margin: 0;
}

.point-list::before {
  content: '';
  position: absolute;
  margin-right: 2vw;
  border-radius: 50%;
  top: .7vh;
  left: -25px;
  width: 8px;
  height: 8px;
  background-color: #fc4c02;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px #eeeeee;
          box-shadow: 0 2px 2px #eeeeee;
}

.menu a {
  color: #313131;
}

.menu a:active {
  color: #fc4c02;
}

.menu__logo {
  max-height: 45px;
  padding: 0 30px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li a:hover {
  color: #fc4c02;
}

.menu__list > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  padding: 20px 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  cursor: pointer;
}

.sub-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 0px;
  overflow: hidden;
  z-index: 5;
  -webkit-box-shadow: 0 3px 4px #cfcfcf;
          box-shadow: 0 3px 4px #cfcfcf;
  line-height: 1.5;
  margin: -500px 0 0 -1.6rem;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.sub-menu__list li {
  text-align: left;
  z-index: 5;
  background: #fff;
  padding: 10px 25px;
}

.open {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1.4rem 0 0 -1.6rem;
}

#nav-btn {
  background: #fc4c02;
  max-height: 85%;
  min-width: 170px;
}

#nav-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  color: #fff !important;
}

#nav-btn a img {
  max-height: 22px;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 35px 10px 15px;
  font-size: 13px;
}

.contact-box a {
  margin: 2px 0;
}

.contact-box a:first-child {
  color: #fc4c02;
}

.btn__link {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#fc4c02), to(#fc7526));
  background: linear-gradient(to top, #fc4c02, #fc7526);
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 3px;
  -webkit-animation: 0.3s cubic-bezier(0, 0.87, 0.71, 1.24) 0.3s 1 normal forwards running;
          animation: 0.3s cubic-bezier(0, 0.87, 0.71, 1.24) 0.3s 1 normal forwards running;
  max-width: 132px;
}

.container {
  overflow: hidden;
}

h1, h2, h3, h4 {
  text-align: center;
}

.alpha-mat-1 {
  height: 100vh;
  width: 100vw;
  padding: 15vh 5vw;
  background: url(../../images/alpha-mat/header.jpg) center;
  background-size: cover;
}

.alpha-mat-2 {
  height: 100vh;
  width: 100vw;
  padding: 5vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.alpha-mat-2 h3 {
  width: 100vw;
}

.alpha-mat-2__left {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.alpha-mat-2__left img {
  max-height: 50vh;
}

.alpha-mat-2__right {
  width: 35vw;
}

.alpha-mat-2__right p:first-child {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 2vh;
}

.alpha-mat-2__right__box {
  margin-left: -2vw;
}

.point-list {
  position: relative;
  margin-left: 2vw;
}

.alpha-mat-3 {
  height: 95vh;
  width: 100vw;
  padding: 10vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.alpha-mat-3 h3 {
  z-index: 5;
}

.alpha-mat-3 img {
  position: absolute;
  bottom: -50%;
  left: 50.15%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 85vh;
  width: 120vw;
  z-index: 0;
}

.alpha-mat-3__content {
  height: 60vh;
  width: 50.3vw;
  z-index: 5;
}

.alpha-mat-3__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50.3vw;
}

.alpha-mat-3__content__item:nth-child(odd) {
  background: -webkit-gradient(linear, left top, right top, from(#fff5e9), to(#ffeed9));
  background: linear-gradient(to right, #fff5e9, #ffeed9);
}

.alpha-mat-3__content__item:nth-child(even) {
  background: -webkit-gradient(linear, left top, right top, from(white), to(#dbdbda));
  background: linear-gradient(to right, white, #dbdbda);
}

.alpha-mat-3__content__item p {
  padding: 0 2vw;
  margin: 1vh 0;
}
/*# sourceMappingURL=alpha-mat.css.map */