* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #313131;
}

.container {
  overflow: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fc4c02;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  color: #313131;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  color: #fc4c02;
  letter-spacing: 1px;
  line-height: 1.4;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  color: #313131;
  letter-spacing: 1px;
  line-height: 1.4;
}

p {
  line-height: 1.4;
  text-align: justify;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 1vh;
}

.icon-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-list div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.icon-list div img {
  height: 50%;
}

.icon-list p {
  margin: 0;
}

.point-list::before {
  content: '';
  position: absolute;
  margin-right: 2vw;
  border-radius: 50%;
  top: .7vh;
  left: -25px;
  width: 8px;
  height: 8px;
  background-color: #fc4c02;
}

._anim-show-left {
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-right {
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-top {
  -webkit-transform: translate(0px, -80%);
          transform: translate(0px, -80%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-bottom {
  -webkit-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._active {
  opacity: 1 !important;
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
}

.slyder {
  height: 95vh;
  width: 100vw;
  padding: 13vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__top {
  height: 20vh;
}

.slyder__top h6 {
  font-size: 36px;
  margin-bottom: 1vh;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.slyder__top span {
  color: #fc4c02;
}

.slyder__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
  width: 100vw;
  background: #fff5e9;
}

.slyder__middle p {
  font-size: 18px;
  text-align: left;
}

.slyder__left {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 1vw 3vh 5vw;
  font-size: 18px;
}

.slyder__left__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__left__icon div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.slyder__left__icon div img {
  height: 50%;
}

.slyder__left__icon p {
  max-width: 19vw;
  margin: 0;
}

.slyder__center {
  width: 40vw;
}

.slyder__center img {
  width: 100%;
}

.slyder__right {
  width: 30vw;
  padding: 5vh;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -2vh;
  max-height: 40vh;
}

.slider__content img {
  max-height: 40vh;
  margin: 0 5vw;
}

.slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2vh;
  max-height: 20vh;
}

.slider__controls img {
  max-height: 20vh;
  width: auto;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__item__control {
  padding: 10px;
  opacity: .7;
}

@media (max-width: 1023px) {
  .slyder__top {
    height: 15vh;
  }
  .slyder__middle {
    height: 60vh;
  }
  .slyder__left {
    display: none;
  }
  .slyder__center {
    width: 55vw;
  }
  .slyder__right {
    padding: 0 !important;
  }
  .slider__content {
    width: 55vw;
  }
  .slider__content img {
    width: 55vw;
  }
  .icon-list div {
    width: 5vw;
    height: 5vw;
    margin: 1vh;
  }
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px #eeeeee;
          box-shadow: 0 2px 2px #eeeeee;
}

.menu label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  position: relative;
  background-color: #fc4c02;
  border-radius: 50%;
  margin-right: 1vw;
  z-index: 15;
  display: none;
}

.menu input {
  display: none;
}

.menu__burger {
  width: 50%;
  background: #fff;
  height: 3px;
  border-radius: 3px;
}

.menu__burger::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background: #fff;
  height: 3px;
  content: "";
  position: absolute;
  top: 30%;
  border-radius: 3px;
}

.menu__burger::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background: #fff;
  height: 3px;
  content: "";
  position: absolute;
  bottom: 30%;
  border-radius: 3px;
}

.menu a {
  color: #313131;
}

.menu a:active {
  color: #fc4c02;
}

.menu__logo {
  max-height: 45px;
  padding: 0 30px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li a:hover {
  color: #fc4c02;
}

.menu__list > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 20px 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.sub-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 0px;
  overflow: hidden;
  z-index: 5;
  -webkit-box-shadow: 0 3px 4px #cfcfcf;
          box-shadow: 0 3px 4px #cfcfcf;
  line-height: 1.5;
  margin: -500px 0 0 -1.6rem;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}

.sub-menu__list li {
  text-align: left;
  z-index: 5;
  background: #fff;
  padding: 10px 25px;
}

.open {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1.4rem 0 0 -1.6rem !important;
}

#nav-btn {
  background: #fc4c02;
  max-height: 85%;
  min-width: 170px;
}

#nav-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  color: #fff !important;
}

#nav-btn a img {
  max-height: 22px;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 35px 10px 15px;
  font-size: 13px;
}

.contact-box a {
  margin: 2px 0;
}

.contact-box a:first-child {
  color: #fc4c02;
}

.btn__link {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#fc4c02), to(#fc7526));
  background: linear-gradient(to top, #fc4c02, #fc7526);
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 3px;
  -webkit-animation: 0.3s cubic-bezier(0, 0.87, 0.71, 1.24) 0.3s 1 normal forwards running;
          animation: 0.3s cubic-bezier(0, 0.87, 0.71, 1.24) 0.3s 1 normal forwards running;
  max-width: 132px;
}

@media (max-width: 1023px) {
  .menu {
    background-color: #1f1f1f;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    background-color: #1f1f1f;
    width: 100vw;
    height: 100vh;
    top: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .menu__list > li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    color: #fff;
    position: relative;
    text-transform: uppercase;
  }
  .menu__list > li a {
    color: #fff;
  }
  .menu__list > li:first-child {
    margin-top: 6vh;
  }
  .menu__list > li:first-child::before {
    height: 0;
  }
  .menu__list > li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    top: 0;
    left: calc(50% - 25px);
    background-color: #fc4c02;
  }
  #menu__burger__check:checked ~ .menu__list {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  #nav-btn {
    max-width: 175px;
    margin: 0 auto;
  }
  .sub-menu__list {
    position: relative;
    width: 100vw;
    background-color: #1f1f1f;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin: 0 0 0 -1.6rem;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
  }
  .sub-menu__list li {
    width: 100vw;
    background-color: #1f1f1f;
    text-align: center;
    text-transform: none;
  }
  .sub-menu__list li:nth-child(odd) {
    background-color: #2a2a2a;
  }
  .contact-box {
    display: none;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  padding: 5vh 7vw;
}

.about-us {
  height: 30vh;
}

h3 {
  padding: 5vh 0;
  text-align: center;
}

p {
  line-height: 1.4;
  text-align: justify;
  font-size: 20px;
  font-weight: 100;
}

.contacts {
  height: 65vh;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__box div {
  width: 40vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1.5vw;
}

.contacts__box div p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1vh;
}

.customers {
  height: 90vh;
}

.customers__box {
  width: 90vw;
  min-height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.customers__box img {
  height: 10vh;
  width: 13vw;
  margin: 10px;
}

@media (max-width: 1023px) {
  .contacts__box div {
    width: 25vw;
  }
  .contacts__box div p {
    text-align: left;
  }
  #contacts__map {
    width: 60vw;
  }
  .customers {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .customers h3 {
    padding: 2vh 0;
  }
  .customers__box img {
    width: 24vw;
  }
}
/*# sourceMappingURL=contats.css.map */