@import 'nullstyle.scss';

// Дефолтные стили

$orange: rgb(252, 76, 2);
$textColor: rgb(49, 49, 49);

html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgb(49, 49, 49);
}

h1 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;

    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.4;
    padding-bottom: 15px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: $orange;

    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.4;
    padding-bottom: 15px;    
}

h3 {
    font-size: 36px;
    font-weight: 700;
    color: $textColor;

    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 1.4;
    padding-bottom: 15px;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #fff;

    letter-spacing: 1px;
    line-height: 1.4;
} 

h5 {
    font-size: 20px;
    font-weight: 500;
    color: $orange;

    letter-spacing: 1px;
    line-height: 1.4;
}

h6 {
    font-size: 18px;
    font-weight: 500;
    color: $textColor;

    letter-spacing: 1px;
    line-height: 1.4;
}

p {
    line-height: 1.4;
    text-align: justify;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 1vh;
} 


// стили списков

.icon-list {
    width: 100%;
    display: flex;
    align-items: center;
    div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3vw;
        height: 3vw;
        margin: 1vw;
        border-radius: 50%;
        background: $orange;
        img {
            height: 50%;
        }
    }
    p {
        margin: 0;
    }
}

.point-list {
    &::before {
        content: '';
        position: absolute;
        margin-right: 2vw;
        border-radius: 50%;
        top: .7vh;
        left: -25px;
        width: 8px;
        height: 8px;
        background-color: $orange;
    }
}

// анимация при скролле

._anim-show {
    &-left{ 
        transform: translate(-120%, 0px);
        opacity: 0;
        transition: all .8s ease 0s;
        }
    &-right{ 
        transform: translate(120%, 0px);
        opacity: 0;
        transition: all .8s ease 0s;
        }
    &-top{ 
        transform: translate(0px, -80%);
        opacity: 0;
        transition: all .8s ease 0s;
        }
    &-bottom{
        transform: translate(0px, 50%);
        opacity: 0;
        transition: all .8s ease 0s;
    }
}

._active {
    opacity: 1 !important;
    transform: translate(0px, 0px) !important; 
}

// стиль секций со слайдером

.slyder {
    height: 95vh;
    width: 100vw;
    padding: 13vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__top {
        height: 20vh;
        h6 {
            font-size: 36px;
            margin-bottom: 1vh;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
        }
        span {
            color: $orange;
        }
    }

    &__middle {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40vh;
        width: 100vw;
        background: rgb(255, 245, 233);
        p {
            font-size: 18px;
            text-align: left;
        }
        
    }

    &__left {
        width: 30vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3vh 1vw 3vh 5vw;
        font-size: 18px;

        &__icon {
            width: 100%;
            display: flex;
            align-items: center;
            div {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 3vw;
                height: 3vw;
                margin: 1vw;
                border-radius: 50%;
                background: $orange;
                img {
                    height: 50%;
                }
            }
            p {
                max-width: 19vw;
                margin: 0;
            }
        }
    }

    &__center {
        width: 40vw;
        img {
            width: 100%;
        }
    }

    &__right {
        width: 30vw;
        padding: 5vh;
    }
}

// стиль карусели и её элементов

.carousel {
    display: flex;
    align-items: center;
    z-index: 3;

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
        position: relative;
        width: 100%;
        height: 100%;
        perspective: 300px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20vw;

        position: absolute;
        transition: transform 1s, opacity 1s;
        opacity: .5;
        z-index: 2;

        img {width: 130%; z-index: 1;}
    }
}

.hide { transform: translate(-150%, 40%) scale(0.5);}
.prev { transform: translate(-90%, 20%) scale(0.75);}
.act { opacity: 1; z-index: 5;}
.next { transform: translate(90%, 20%) scale(0.75);}
.new-next { transform: translate(-150%, 40%) scale(0.5);}
.hide, .new-next {
    z-index: 1;
    opacity: 0; 
    transition: opacity .5s, transform .5s;
}