* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #313131;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fc4c02;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  color: #313131;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  color: #fc4c02;
  letter-spacing: 1px;
  line-height: 1.4;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  color: #313131;
  letter-spacing: 1px;
  line-height: 1.4;
}

p {
  line-height: 1.4;
  text-align: justify;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 1vh;
}

.icon-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-list div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.icon-list div img {
  height: 50%;
}

.icon-list p {
  margin: 0;
}

.point-list::before {
  content: '';
  position: absolute;
  margin-right: 2vw;
  border-radius: 50%;
  top: .7vh;
  left: -25px;
  width: 8px;
  height: 8px;
  background-color: #fc4c02;
}

._anim-show-left {
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-right {
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-top {
  -webkit-transform: translate(0px, -80%);
          transform: translate(0px, -80%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-bottom {
  -webkit-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._active {
  opacity: 1 !important;
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
}

.slyder {
  height: 95vh;
  width: 100vw;
  padding: 13vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__top {
  height: 20vh;
}

.slyder__top h6 {
  font-size: 36px;
  margin-bottom: 1vh;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.slyder__top span {
  color: #fc4c02;
}

.slyder__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
  width: 100vw;
  background: #fff5e9;
}

.slyder__middle p {
  font-size: 18px;
  text-align: left;
}

.slyder__left {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 1vw 3vh 5vw;
  font-size: 18px;
}

.slyder__left__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__left__icon div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.slyder__left__icon div img {
  height: 50%;
}

.slyder__left__icon p {
  max-width: 19vw;
  margin: 0;
}

.slyder__center {
  width: 40vw;
}

.slyder__center img {
  width: 100%;
}

.slyder__right {
  width: 30vw;
  padding: 5vh;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.carousel__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20vw;
  position: absolute;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
  opacity: .5;
  z-index: 2;
}

.carousel__item img {
  width: 130%;
  z-index: 1;
}

.hide {
  -webkit-transform: translate(-150%, 40%) scale(0.5);
          transform: translate(-150%, 40%) scale(0.5);
}

.prev {
  -webkit-transform: translate(-90%, 20%) scale(0.75);
          transform: translate(-90%, 20%) scale(0.75);
}

.act {
  opacity: 1;
  z-index: 5;
}

.next {
  -webkit-transform: translate(90%, 20%) scale(0.75);
          transform: translate(90%, 20%) scale(0.75);
}

.new-next {
  -webkit-transform: translate(-150%, 40%) scale(0.5);
          transform: translate(-150%, 40%) scale(0.5);
}

.hide, .new-next {
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, transform .5s;
  transition: opacity .5s, transform .5s, -webkit-transform .5s;
}
/*# sourceMappingURL=defoltstyle.css.map */