@import 'media.scss';
@import 'menu.style.scss';

.container {
    position: relative;
    overflow: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

h6 {
    font-size: 16px;
}

.menu__logo { opacity: 0;}

section {
    height: 100vh;
    scroll-snap-align: start;
    transition: 0.5s cubic-bezier(.1,.3,.33,.99);
}

// .scroll-nav {
//     position: fixed;
//     z-index: 2;
//     top: 50%;
//     right: 50px;
//     transform: translateY(-50%);

//     background: rgba(0, 0, 0, 0.7);
//     border-radius: 7px;
//     color: #fff;
//     width: 50px;
//     height: 200px;
                
    
//     ul {
//         margin-left: 5px;
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         position: relative;
//         transition: transform 200ms ease-out 0s;
            
//         #pointer {
//             position: absolute;
//             width: 29px;
//             height: 29px;
//             border-radius: 50%;
//             transition: all 0.15s ease-out 0s;
//             background: rgb(252, 76, 2);
//             transform: translateY(-75px);
//             z-index: 3;
//         }

//         // transform: translateY(-75px);
//         // transform: translateY(-45px);
//         // transform: translateY(-15px);
//         // transform: translateY(15px);
//         // transform: translateY(45px);
//         // transform: translateY(75px);

//         li {
//             cursor: pointer;
//             padding: 8px 10px;
//             transition: all 0.15s ease-out 0s;
//             z-index: 4;
//             // &:hover {color: $orange;}
//             // &:active {
//             //     font-size: 18px;
//             // }
//         }
//     }
// }
  
.slyde-1 { 
    height: 100vh; 
    background: url(../../images/index/main.jpg) no-repeat 45vw;
    background-size: auto 90%;
    position: relative;    
    scroll-snap-align: start; 

    &__logo {
        position: absolute; 
        transition: all 0.8s ease-out 0s;
        top: 150px;
        left: 200px;
        width: 206.308px;
        z-index: 1;
    }     

    &__text {
        display: inline-block;
        position: absolute;
        top: calc(50% - 50px);
        left: 0;
        text-align: center;
        z-index: 1;
    
        background: $orange;
        width: 55vw;
        height: fit-content;
        font-size: 2vw;
        line-height: 1.6;
        padding: 25px;
    }
}  
  
.slyde-2 {
    height: 100vh;
    background: url(../../images/index/slyde-2.png) bottom no-repeat, rgb(239, 240, 240);
    background-size: 100% auto;  
    position: relative;
    scroll-snap-align: start;

    &__box {
        position: absolute;
        top: 20%;
        z-index: 1;
        left: 200px;
        opacity: 1;
        transition: all 0.8s ease-out 0s;

        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        h6 {
            width: 35vw;
        }
    } 
}

.slyde-3 {
    height: 100vh;
    background: url(../../images/index/slyde-3.jpg) center;
    background-size: auto 100%;
    position: relative;
    scroll-snap-align: start;

    &__box {
        position: absolute;
        top: 35%;
        z-index: 1;
        left: 200px;
        opacity: 1;

        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        h6 {
            width: 35vw;
        }
    }
}

.slyde-4 {
    height: 100vh;
    background: url(../../images/index/slyde-4.jpg) center no-repeat;
    background-size: auto 100%;
    position: relative;
    scroll-snap-align: start;
    
    &__box {
        position: absolute;
        top: 29%;
        z-index: 1;
        right: 170px;
        opacity: 1;

        height: 30vh;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: right;
    }
}  

.slyde-5 {
    height: 100vh;
    background: url(../../images/index/slyde-5.jpg) right;
    background-size: cover;
    position: relative;
    scroll-snap-align: start;

    &__box {
        position: absolute;
        top: 29%;
        z-index: 1;
        left: 200px;
        opacity: 1;
    
        height: 25vh;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}

.slyde-6 {
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    scroll-snap-align: start;
 
    &__item {  
        width: 32vw;
        height: 45vh;
        padding: 30px 10px;
        transition: ease .5s;
        &:hover { transform: scale(1.05);}
        h1 {font-size: 28px;}
        h1, h4 {
            text-align: center;
            padding: 10px;
            z-index: 10;
        }  
        
        &:first-child {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/1.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(2) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/2.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(3) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/3.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(4) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/4.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(5) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/5.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(6) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/6.jpg) center no-repeat; background-size: auto 100%;}
    
    }
}

@import './index.media.scss';