* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #313131;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #fc4c02;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  color: #313131;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.4;
  padding-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  line-height: 1.4;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  color: #fc4c02;
  letter-spacing: 1px;
  line-height: 1.4;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  color: #313131;
  letter-spacing: 1px;
  line-height: 1.4;
}

p {
  line-height: 1.4;
  text-align: justify;
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 1vh;
}

.slyder {
  height: 95vh;
  width: 100vw;
  padding: 13vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__top {
  height: 20vh;
}

.slyder__top h6 {
  font-size: 36px;
  margin-bottom: 1vh;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.slyder__top span {
  color: #fc4c02;
}

.slyder__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 40vh;
  width: 100vw;
  background: #fff5e9;
}

.slyder__middle p {
  font-size: 18px;
  text-align: left;
}

.slyder__left {
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3vh 1vw 3vh 5vw;
  font-size: 18px;
}

.slyder__left__icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyder__left__icon div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.slyder__left__icon div img {
  height: 50%;
}

.slyder__left__icon p {
  max-width: 19vw;
  margin: 0;
}

.slyder__center {
  width: 40vw;
}

.slyder__center img {
  width: 100%;
}

.slyder__right {
  width: 30vw;
  padding: 5vh;
}

.icon-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-list div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3vw;
  height: 3vw;
  margin: 1vw;
  border-radius: 50%;
  background: #fc4c02;
}

.icon-list div img {
  height: 50%;
}

.icon-list p {
  margin: 0;
}

.point-list::before {
  content: '';
  position: absolute;
  margin-right: 2vw;
  border-radius: 50%;
  top: .7vh;
  left: -25px;
  width: 8px;
  height: 8px;
  background-color: #fc4c02;
}

._anim-show-left {
  -webkit-transform: translate(-120%, 0px);
          transform: translate(-120%, 0px);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-right {
  -webkit-transform: translate(120%, 0px);
          transform: translate(120%, 0px);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._anim-show-top {
  -webkit-transform: translate(0px, -120%);
          transform: translate(0px, -120%);
  opacity: 0;
  -webkit-transition: all .8s ease 0s;
  transition: all .8s ease 0s;
}

._active {
  opacity: 1 !important;
  -webkit-transform: translate(0px, 0px) !important;
          transform: translate(0px, 0px) !important;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
}

.menu {
  position: fixed;
  top: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 2px #eeeeee;
          box-shadow: 0 2px 2px #eeeeee;
}

.menu a {
  color: #313131;
}

.menu a:active {
  color: #fc4c02;
}

.menu__logo {
  max-height: 45px;
  padding: 0 30px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list li a:hover {
  color: #fc4c02;
}

.menu__list > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 20px 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.sub-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background: #fff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 0px;
  overflow: hidden;
  z-index: 5;
  -webkit-box-shadow: 0 3px 4px #cfcfcf;
          box-shadow: 0 3px 4px #cfcfcf;
  line-height: 1.5;
  margin: -500px 0 0 -1.6rem;
  -webkit-transition: all 0.4s ease-out 0s li;
  transition: all 0.4s ease-out 0s li;
  transition-text-align: left;
  transition-z-index: 5;
  transition-background: #fff;
  transition-padding: 10px 25px;
}

.open {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1.4rem 0 0 -1.6rem;
}

#nav-btn {
  background: #fc4c02;
  max-height: 85%;
  min-width: 170px;
}

#nav-btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  color: #fff !important;
}

#nav-btn a img {
  max-height: 22px;
}

.contact-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px 35px 10px 15px;
  font-size: 13px;
}

.contact-box a {
  margin: 2px 0;
}

.contact-box a:first-child {
  color: #fc4c02;
}

.btn__link {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#fc4c02), to(#fc7526));
  background: linear-gradient(to top, #fc4c02, #fc7526);
  padding: 15px 25px;
  font-size: 16px;
  font-weight: 300;
  border-radius: 3px;
  -webkit-animation: 0.3s cubic-bezier(0, 0.87, 0.71, 1.24) 0.3s 1 normal forwards running;
          animation: 0.3s cubic-bezier(0, 0.87, 0.71, 1.24) 0.3s 1 normal forwards running;
  max-width: 132px;
}

.container {
  position: relative;
  overflow: hidden;
}

h6 {
  font-size: 16px;
}

.scroll-nav {
  position: fixed;
  z-index: 2;
  top: 50%;
  right: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  color: #fff;
  width: 50px;
  height: 200px;
}

.scroll-nav ul {
  margin-left: 5px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: -webkit-transform 200ms ease-out 0s;
  transition: -webkit-transform 200ms ease-out 0s;
  transition: transform 200ms ease-out 0s;
  transition: transform 200ms ease-out 0s, -webkit-transform 200ms ease-out 0s;
}

.scroll-nav ul #pointer {
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #fc4c02;
  -webkit-transform: translateY(-75px);
          transform: translateY(-75px);
  z-index: 3;
}

.scroll-nav ul li {
  cursor: pointer;
  padding: 8px 10px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  z-index: 4;
}

.main {
  height: 100vh;
  background: url(../../images/index/main.jpg) no-repeat 45vw;
  background-size: auto 90%;
  position: relative;
}

.main__logo {
  position: absolute;
  -webkit-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
  top: 150px;
  left: 200px;
  width: 206.308px;
  z-index: 1;
}

.main__text {
  display: inline-block;
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  text-align: center;
  z-index: 1;
  background: #fc4c02;
  width: 55vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2vw;
  line-height: 1.6;
  padding: 25px;
}

.slyde-2 {
  height: 100vh;
  background: url(../../images/index/slyde-2.png) bottom no-repeat, #eff0f0;
  background-size: 100% auto;
  position: relative;
}

.slyde-2__box {
  position: absolute;
  top: 20%;
  z-index: 1;
  left: 200px;
  opacity: 1;
  -webkit-transition: all 0.8s ease-out 0s;
  transition: all 0.8s ease-out 0s;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slyde-2__box h6 {
  width: 35vw;
}

.slyde-3 {
  height: 100vh;
  background: url(../../images/index/slyde-3.jpg) center;
  background-size: auto 100%;
  position: relative;
}

.slyde-3__box {
  position: absolute;
  top: 35%;
  z-index: 1;
  left: 200px;
  opacity: 1;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slyde-3__box h6 {
  width: 35vw;
}

.slyde-4 {
  height: 100vh;
  background: url(../../images/index/slyde-4.jpg) center no-repeat;
  background-size: auto 100%;
  position: relative;
}

.slyde-4__box {
  position: absolute;
  top: 29%;
  z-index: 1;
  right: 170px;
  opacity: 1;
  height: 30vh;
  max-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: right;
}

.slyde-5 {
  height: 100vh;
  background: url(../../images/index/slyde-5.jpg) right;
  background-size: cover;
  position: relative;
}

.slyde-5__box {
  position: absolute;
  top: 29%;
  z-index: 1;
  left: 200px;
  opacity: 1;
  height: 25vh;
  max-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slyde-6 {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slyde-6__item {
  width: 32vw;
  height: 45vh;
  padding: 30px 10px;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.slyde-6__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.slyde-6__item h1 {
  font-size: 28px;
}

.slyde-6__item h1, .slyde-6__item h4 {
  text-align: center;
  padding: 10px;
  z-index: 10;
}

.slyde-6__item:first-child {
  background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/1.jpg) center no-repeat;
  background-size: auto 100%;
}

.slyde-6__item:nth-child(2) {
  background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/2.jpg) center no-repeat;
  background-size: auto 100%;
}

.slyde-6__item:nth-child(3) {
  background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/3.jpg) center no-repeat;
  background-size: auto 100%;
}

.slyde-6__item:nth-child(4) {
  background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/4.jpg) center no-repeat;
  background-size: auto 100%;
}

.slyde-6__item:nth-child(5) {
  background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/5.jpg) center no-repeat;
  background-size: auto 100%;
}

.slyde-6__item:nth-child(6) {
  background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/6.jpg) center no-repeat;
  background-size: auto 100%;
}
/*# sourceMappingURL=index.css.map */