@import 'media.scss';
@import 'menu.style.scss';

h6 {
    font-size: 16px;
}

.main {
    height: 100vh;
    background: url(../../images/index/main.jpg) no-repeat 45vw;
    background-size: auto 90%;

    position: relative;

    &__logo {
        position: absolute; 
        transition: all 0.8s ease-out 0s;
        top: 100px;
        left: 0;
        width: 206.308px;
        z-index: 1;
    
        opacity: 0;
    }

    &__text {
        display: inline-block;
        position: absolute;
        top: calc(50% - 50px);
        left: 0;
        text-align: center;
        z-index: 1;
    
        background: $orange;
        width: 55vw;
        height: fit-content;
        font-size: 2vw;
        line-height: 1.6;
        padding: 25px;
    }
}

.main__logo._active {
    top: 100px;
    left: 200px;
    opacity: 1;
}

.slyde-2 {
    height: 100vh;
    background: url(../../images/index/slyde-2.png) bottom no-repeat, rgb(239, 240, 240);
    background-size: 100% auto;

    position: relative;

    &__box {
        position: absolute;
        top: 20%;
        z-index: 1;
        left: 0;
        opacity: 0;

        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        h6 {
            width: 35vw;
        }
    } 
}

.slyde-2__box._active {
    left: 200px;
    opacity: 1;
}

.slyde-3 {
    height: 100vh;
    background: url(../../images/index/slyde-3.jpg) center;
    background-size: auto 100%;
    position: relative;

    &__box {
        position: absolute;
        top: 35%;
        z-index: 1;
        left: 0;
        opacity: 0;

        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        h6 {
            width: 35vw;
        }
    }
}

.slyde-3__box._active {
    left: 200px;
    opacity: 1;
}

.slyde-4 {
    height: 100vh;
    background: url(../../images/index/slyde-4.jpg) center no-repeat;
    background-size: auto 100%;

    position: relative;
    
    &__box {
        position: absolute;
        top: 29%;
        z-index: 1;
        right: 0;
        opacity: 0;

        height: 30vh;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: right;
    }
}

.slyde-4__box._active {
    right: 170px;
    opacity: 1;
}

.slyde-5 {
    height: 100vh;
    background: url(../../images/index/slyde-5.jpg) right;
    background-size: cover;
    position: relative;

    &__box {
        position: absolute;
        top: 29%;
        z-index: 1;
        left: 0;
        opacity: 0;
    
        height: 25vh;
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
}

.slyde-5__box._active {
    left: 200px;
    opacity: 1;
}

.slyde-6 {
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    &__item {
        width: 32vw;
        height: 45vh;
        padding: 30px 10px;

        h1 {font-size: 28px;}
        
        h1, h4 {
            text-align: center;
            padding: 10px;
            z-index: 10;
        }  
        
        &:first-child {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/1.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(2) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/2.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(3) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/3.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(4) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/4.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(5) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/5.jpg) center no-repeat; background-size: auto 100%;}
        &:nth-child(6) {background: url(../../images/index/slyde-6/blur2.png), url(../../images/index/slyde-6/6.jpg) center no-repeat; background-size: auto 100%;}
    }
}