@import 'menu.style.scss';

h3 {text-align: center;}

.monolit-1 {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    display: flex;
    align-items: center;
    justify-content: center;

    &__left {
        width: 60vw;
        height: 100vh;
        margin-left: -5vw;
        background: url(../../images/monolit/header.jpg) -300px 0% / 90% no-repeat;
        background-size: 100vw 100vh;
        transition: all 1s ease-out 0s;
    }

    &__right {
        width: 40vw;
        margin-left: 4vw;

        &__box {
            margin: 2vh 0;
        }
    }
}

.monolit-2 {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 15vw;
            position: relative;
            margin: 2vh 2vw;

            p{ text-align: center;}

            &__num {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3vw;
                height: 3vw;
                background: rgb(255, 255, 255);
                border: 4px double rgba(182, 182, 182, 0.685);
                border-radius: 50%;
                font-size: 20px;

                position: absolute;
                top: -.6vw;
                left: -.6vw;
            }

            &__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10vw;
                height: 10vw;
                background: $orange;
                border-radius: 50%;
                position: relative;
                margin-bottom: 2vh;

                img {
                    max-width: 50%;
                    max-height: 50%;
                }
            }
        }
    }
}
  
.monolit-3 {
    height: 280vh;
    width: 100vw;
    padding: 5vh 5vw;
    position: relative;

    h3 {
        text-align: center;
        max-width: 80vw;
        margin: 0 auto;
    }

    img {
        position: absolute;
        max-width: 50vw;
        max-height: 280vh;
        top: 25vh;
        left: 0;
    }

    &__right {
    } 

    &__item {
        position: absolute;
        left: 60vw;
        p { max-width: 30vw;}
  
        &:first-child {top: 15%;}
        &:nth-child(2) {top: 20%;}
        &:nth-child(3) {top: 30%;}
        &:nth-child(4) {top: 60%;}
        &:nth-child(5) {top: 65%;}
        &:nth-child(6) {top: 70%;}
    }
}

@import './monolit.media.scss';