@import 'menu.style.scss';

.container {
    overflow: hidden;
    padding-top: 5vh;
}

h3 {
    text-align: center;
    font-weight: 500;
}

.new-video-1 {
    height: 95vh;
    width: 100vw;
    padding: 18vh 5vw;
    background: url(../../images/new-videoconsultant/header.jpg) 25% no-repeat;
    background-size: cover;
    h3 {
        width: 40vw;
        text-align: left;
    }
    p {
        width: 40vw;
        font-weight: 400;
    }
}

.new-video-2 {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1vh;

        img {
            max-width: 270px;
            margin: 0 5vw;
        }
        p {
            position: relative;
            max-width: 300px;
            margin: .5vh 5vw;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1vh;

        &__item {
            width: 15vw;
            padding: 1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {margin-bottom: 2vh;}
            p {
                text-align: center;
                font-size: 14px;
            }
        }
    }
}

.new-video-3 {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__top {
        width: 90vw;
        p {
            max-width: 690px;
            text-align: center;
            margin: 0 auto;
        }
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    &__item {
        width: 450px;
        display: flex;
        align-items: center;

        &__text {
            margin: 1vh 1vw;
        }
    }
}

.new-video-4 {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../../images/new-videoconsultant/bg3.png);
    background-size: cover;
    h3 {width: 90vw;}    

    &__content {
        width: 90vw;
        margin: 5vh 0;
        display: flex;
        align-items: center;
        // justify-content: space-around;
    }

    &__num {
        position: absolute;
        top: 50%;
        left: -10%;
        transform: translate(-50%, -50%);

        font-size: 200px;
        color: rgba(0, 0, 0, 0.2);
    }

    &__left,
    &__right {
        position: relative;
        width: 35vw;
        margin-left: 10vw;

        p {
            position: relative;
            text-align: left;
            margin: 1vh 2vw;
        }
    }

    &__right {
        width: 380px;
    }

    &__bottom {

        p {
            max-width: 550px;
            text-align: center;
        }
    }
}

.new-video-5 {
    height: 100vh;
    width: 100vw;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__left {
        width: 45vw;
        margin-right: 5vw;
        p {
            position: relative;
            text-align: left;
            margin-bottom: 2vh;
        }
    }

    &__right {
        width: 35vw;
        img {
            width: 80%;
        }
    }
}

.point-list { margin-left: 2vw;}


.new-video-6 {
    height: 95vh;
    width: 100vw;
    position: relative;
    
    &__slyde {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        height: 95vh;
        width: 100vw;
        padding: 5vh 5vw;
    }

    &__content {
        height: 60vh;
        width: 55vw;
        padding: 1vh 2vw;
        overflow: auto;
        scroll-behavior: smooth;
        background: rgba(255, 255, 255, 0.5);
        h6 {
            margin-bottom: 1vh;
        }
    }

    &__list {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                width: fit-content;
                max-width: 50%;
                text-align: left;
            }
            span {
                flex: 1 1 0%;
                margin: 0 1vw;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
            }
            .r {text-align: right;}
        }
    }
}

.slyde1 { background: url(../../images/new-videoconsultant/bg2.jpg) 27% no-repeat; background-size: cover;}
.slyde2 { background: url(../../images/new-videoconsultant/bg3.jpg) 27% no-repeat; background-size: cover;}
.slyde3 { background: url(../../images/new-videoconsultant/bg4.jpg) 27% no-repeat; background-size: cover;}

.slides {
	width: 100%;
	position: absolute;
	visibility: hidden;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: opacity 3s ease-in-out;
}

[name=slider-group] {
	display: none;
}

.slider__control {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;	
	width: 100%;
}

.slider__control label {
	display: inline-block;
	position: relative;
	border: 2px solid rgb(141, 141, 141);
	height: 1em;
	width: 1em;
	margin: 15pt;
	border-radius: 50%;
	cursor: pointer;
    transition: ease-in-out .2s;
    background: #ddd;
    &:hover {
        background: rgba(252, 77, 2, 0.589);
    }
}

input[type=radio]:checked + .slides {
    transition: opacity 3s ease-in-out;
    visibility: visible;
}

#slide1:checked ~ .slider__control #l1,
#slide2:checked ~ .slider__control #l2,
#slide3:checked ~ .slider__control #l3,
#slide4:checked ~ .slider__control #l4,
#slide5:checked ~ .slider__control #l5,
#slide6:checked ~ .slider__control #l6 {
    background: $orange;
    border: 2px solid $orange;
}

@import './new-videoconsultanl.media.scss';  