@media (max-width: 1023px) {

    .sail-1 {
        background: url(../../images/sail/header.jpg) 120vw;

        &__left {
            p {color: #fff;}
        }
    }

    .sail-2 {
        height: 100vh;
        padding: 5vh 5vw;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__box {
            flex: none;
            img {
                max-width: 15%;
                padding: 3vh 0;
            }
        }
    }

    .sail-3 {
        background: url(../../images/sail/gran-sail2.png) no-repeat top, url(../../images/sail/black-white.jpg) no-repeat center bottom;
        background-size: auto 90%, auto 80%;

        &__left {
            margin-right: 15vw;
            max-width: 25vw;
        } 
    
        &__right {
            margin-left: 15vw;
            max-width: 25vw;
        }
    }

    .sail-4 {
        justify-content: center;

        &__bottom {
            margin-top: 3vh;
        }
    }

    
};